*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/rails/vendor/bundle
/rails/log/*
/rails/tmp/*
/rails/db/*.sqlite3
/rails/public/system/*
/rails/coverage/
/rails/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
/rails/config/initializers/secret_token.rb
.env
.DS_Store
test_results

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
