.jumbotron
  %h1
    Stop scheduling conflicts.

  %h2
    Sync "busy" time between your personal and work calendars, without sharing details of the events.

  %br
  %h3
    Sign up with
    = link_to "Google", omniauth_authorize_path(resource_name, 'google_oauth2')
    or
    = link_to "Outlook", omniauth_authorize_path(resource_name, 'microsoft_office365')

