%h1 Welcome!

- if current_user.sync_pairs.any?
  = render 'sync_pairs/existing'
- else
  - unless current_user.calendars?
    %h3 Loading your calendars. Please refresh.
  - else
    = render 'sync_pairs/form'

%h3.mt-4 Connected Accounts
= render 'remote_account/existing'


= link_to 'Delete Account', user_delete_path, method: :delete, data: { confirm: "Are you sure?"}
