%h1 Welcome!

- if current_user.sync_pairs.any?
  = render 'sync_pairs/existing'
- else
  = render 'sync_pairs/form'

= link_to 'Delete Account', user_delete_path, method: :delete, data: { confirm: "Are you sure?"}
