%h1 Welcome!

%h3 Block personal events off in your work calendar (Privately):

%form.form-inline
  .form-group
    %label{:for => "from_calendar_id"} Personal Calendar
    = select_tag :from_calendar_id, grouped_options_for_select(@calendars_by_google_account)
  .form-group
    %label{:for => "to_calendar_id"} Work Calendar
    = select_tag :from_calendar_id, grouped_options_for_select(@calendars_by_google_account)
  %button.btn.btn-default{:type => "submit"} Copy Anonymous Events

